@charset "UTF-8";

form {
	display : inline;
}

#addArticle i {
	padding-top : 5px;
}
footer {
	color :white;
}

footer .credits{
	margin : 10px 0px;
}

footer a.btn {
	color : gray;
	padding : 5px 5px 0px 5px;
	margin-top : 7px;
}

footer a.btn.manageKart.homepage {
	float : left;
}

footer a.btn.manageKart.resetList {
	float : right;
}

footer a.btn i {
	width : 24px;
	height : 24px;
}

footer a.btn:hover {
	color : white;
	border : 1px solid white;
	border-radius : 20px;
}

div.clear {
	clear : both;
}

div.headerSpacer {
	min-height : 50px;
}

main {
	margin : 130px 0px;;
}

.oopsMain{
	display: flex;
	flex-direction: column;;
	align-items: center;
}

.oopsTitle {
	font-size: 72px;
    color: #800000;
}

.oopsText {
	font-size: 24px;
    color: #800000;
    margin-bottom: 30px;
        }
        
.oopsImage {
	object-fit: cover;
	width: 75%;
	height: 300px;
}

.oopsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.oopsButton {
	display: inline-block;
    padding: 12px 24px;
    background-color: #800000;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.oopsButton:hover {
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
}